@import '../node_modules/react-checkbox-tree/lib/react-checkbox-tree.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap_override.css';


/*
Primary Color: Deep Blue (#1E3D58) - Conveys trust and professionalism.
Secondary Color: Soft Gray (#8A9BAE) - Neutral and versatile.
Accent Color: Bright Teal (#32B2A4) - Adds a refreshing touch and modern feel.
Background: Light Gray (#F2F3F5) - Clean and unobtrusive.
Highlight: Coral (#FF6B6B) - Energetic and attention-catching.
*/

body {
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  background-color: #F2F3F5;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-top: 10px;
}
h5 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
  margin-top: 5px;
}

p {
  font-size: 1em;
}

/* NavBar Styling */
.app-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #32B2A4;
}

.app-nav li:first-child {
  float: left;
  border: none;
  border-right:1.5px solid #F2F3F5;
}

.app-nav li {
  float: right;
  border: none;
  border-left: 1.5px solid #F2F3F5;
}

.app-nav li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.app-nav li a:hover:not(.active) {
  background-color: #8A9BAE;
}

.app-nav li a.active {
  background-color: #1E3D58;
  color: white
}

/* Consistent Features */
.app-header {
  padding: 20px;
  background-color: #1E3D58;
  color: white;
  
}

.step-display {
  display: block;
  width: 100%;
  height: auto;
}

.default-button {
  background-color: #1E3D58;
  font-size: 18px;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  margin:30px 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  background-color: #EBEBEB;
  width:100%;
}

tr th {
  background-color: #1E3D58;
  border-bottom: 3px solid white;
  color: white;
  text-align: left;
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
}

tr td {

  color: black;
  white-space: nowrap;
  padding: 5px 5px 5px 10px;
  text-align: left;
}

tr:nth-child(odd){background-color: white}
tr:nth-child(even){background-color: #F2F3F5}

.rct-disabled > .rct-text > label {
  opacity: 0.75;
  cursor: default;
}

.app-footer {
  background-color: #32B2A4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 3px;
  text-align: center;

}

/* Home Styling */
.home-content {
  padding: 10px;
  display: flex;
  text-align: justify;
}

.home-about {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.home-start {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.app-home button {
  background-color: #FF6B6B; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
  width:90%;
}

.app-home button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.app-home button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

.app-home button:hover span {
  padding-right: 25px;
}

.app-home button:hover span:after {
  opacity: 1;
  right: 0;
}


/* Settings Styling */
.app-settings .content {
}

.app-settings form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.app-settings select, input {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
}

.app-settings select {
  width: 40%;
}

.app-settings .default-button {
  float: right;
}

/* Import Styling */
.term-box {
  display: flex;
  float: left;
  flex-direction: row;
}

.term-box > button {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
  height: 3rem;
}
.term-box > input, select {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
  height: 3rem;
}

.term-box input {
  width: 6rem;
}

.app-import .row {
  padding: 10px;
  display: flex;
}

.app-import .import-content-left {
  float: left;
  width: 35%;
}

.app-import  .react-checkbox-tree {
  font-size: 1.1em;
}

.import-content-right {
  float: left;
  width: 65%;
  overflow-x: auto;
}

.app-import .default-button {
  float: right;
}

.app-import #export-button {
  margin-right: 50px;
  float: right;
}

/* Organize Page */
.organize-content-left {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.organize-content-right {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.app-organize select, input {
  float: left;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
}

.app-organize .default-button {
  float: right;
}

.app-organize #back-button {
  float: left;
}

/* Review Styling */
.app-review .row {
  padding: 10px;
  display: flex;
}

.review-content-left {
  float: left;
  width: 70%;
}

.app-review .react-checkbox-tree {
  font-size: 1em;
}

.review-content-right {
  float: left;
  width: 30%;
  overflow-x: auto;
}

.app-review .default-button {
  float: right;
}

.app-review #back-button {
  float: left;
}

/* Complete Styling */
.app-complete .progress {
  height: 50px;
  border-radius: 10px;
  font-size: 1.1em;
}
.app-complete .progress-bar {
  transition-delay: 100ms;
}

.app-complete .status {
  text-align: center;
}